@{
    ViewBag.Title = "About Beer Club";
}
<h2>@ViewBag.Title</h2>
<p>Beer Club was started many moons ago as a way for folks to relax after a full week.  A few noble gents began this tradition and it quickly
    grew into 5, then 10, then 20 people!  This tradition all but assured there would be beer available in the Fridge, on any day, for anyone that desired refreshment.
</p>
<p>
    Things grew more complex as the company grew.  Instead one location, we now have 4.  More people have joined.  Some have moved on.  How to keep track?  The answer: A new system.
    A system that can grow with us.  A system that can support multiple locations.  A system that can run autonomously.
</p>
<h2>
    Introducing: Beer Notifier 3.0.
</h2>
<div class="row">
    <div class="col-md-3">Beer Notifier 3.0 is a start of the system that keeps track of participants across all locations and send reminders automatically.</div>
    <div class="col-md-3">Email and text reminders (only available in the US, currently) are sent the day before and day off to ensure participants are not disapointed.</div>
    <div class="col-md-3">The system is largely self-service, allowing new members to join and current members to update their location.</div>
    <div class="col-md-3">No need to login or provide any information, everything is obtained from Active Directory.</div>
</div>
